.elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 282px 17px 282px 17px 282px;
    grid-template-columns: repeat(3, 282px);
    grid-gap: 17px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.card {
    width: 282px;
    height: 361px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 282px 1fr;
    grid-template-rows: 282px 1fr;
    -ms-grid-columns: 1fr 36px;
    grid-template-columns: 1fr 36px;
        grid-template-areas:
    "image image"
    "title button";
}

.card__image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: image;
    object-fit: cover;
    background-color: #C4C4C4;
    width: 282px;
    height: 282px;
}

.card__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 15px;
    -ms-grid-row-align: center;
        align-self: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: button;
    width: 21px;
    height: 19px;
    background: url(../images/like_button.png);
    border: none;
    margin-right: 15px;
    -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.card__like-button-active {
    background: url(../images/like_button_active.png);
}

.card__delete-button {
    width: 21px;
    height: 21px;
    background: url(../images/delete_button.png);
    border: none;
    position: absolute;
    top: 20px;
    right: 15px;
    transition: 0.2s linear;
}

.card__like-button:hover,
.card__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .cards {
        -ms-grid-columns: 282px 17px 282px;
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 600px) {
    .cards {
        -ms-grid-columns: 282px;
        grid-template-columns: repeat(1, 282px);
    }
}