.elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.elements__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 282px 17px 282px 17px 282px;
    grid-template-columns: repeat(3, 282px);
    grid-gap: 17px;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.elements__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.elements__container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.elements__container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.element {
    width: 282px;
    height: 361px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 282px 1fr;
    grid-template-rows: 282px 1fr;
    -ms-grid-columns: 1fr 36px;
    grid-template-columns: 1fr 36px;
        grid-template-areas:
    "image image"
    "title button"
    ;
}

.element__image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: image;
    width: 282px;
    height: auto;
}

.element__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 15px;
    -ms-grid-row-align: center;
        align-self: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like-button {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: button;
    background: none;
    border: none;
    margin-right: 15px;
    -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.element__like-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .elements__container {
        -ms-grid-columns: 282px 17px 282px;
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 600px) {
    .elements__container {
        -ms-grid-columns: 282px;
        grid-template-columns: repeat(1, 282px);
    }
}