.header {
  max-width: 880px;
  width: 100%;
  padding: 45px 0 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.logo {
  margin-bottom: 41px;
}

.header__line {
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 126px;
    height: auto;
  }
}
