.popup {
    display: none;
}

.popup_active {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.popup__container {
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    padding: 35px;
}

.popup__title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 50px;
}

.popup__input {
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.14;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__save-button {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.popup__close-button {
    background: none;
    border: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.popup__save-button:hover,
.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__save-button_disabled {
    background-color: #FFF;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        height: 322px;
        padding: 25px;
    }

    .popup__close-button {
        left: 90%;
    }
}