.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.popup_active {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    padding: 35px;
}

.popup__title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 50px;
}

.popup__input {
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.14;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__save-button {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.popup__close-button {
    width: 32px;
    height: 32px;
    background: url(../images/close_button.png);
    border: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.popup__save-button:hover,
.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__save-button_disabled {
    background-color: #FFF;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.popup-add__invalid_message {
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    display: none;
}

.popup-add__invalid_message_active {
    display: block;
}

.popup-add__input_invalid_active {
    border-bottom:1px solid #F00;
    margin-bottom: 5px;
}

.popup-card {
    background: rgba(0, 0, 0, 0.9);
}

.popup-card_container {
    position: relative;
    padding: 0;
}

.popup-card__image {
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 600px;
} 

.popup-card__title {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 100%;
    left: 0%;
}

.popup-card__close-button {
    bottom: 102%;
}

@media screen and (max-width: 1000px) {
    .popup_card__image {
        max-width: 75vw;
        max-height: 75vh;
    } 
}


@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        height: 322px;
        padding: 25px;
    }

    .popup__close-button {
        left: 90%;
        bottom: 102%;
    }

    .popup_card__close-button {
        left: 93%;
    }
}