.profile {
  max-width: 880px;
  width: 100%;
  padding: 40px 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 30px 415px 30px 285px;
  grid-template-columns: 120px 415px 285px;
  grid-gap: 30px;
  grid-template-areas: "avatar info add";
  -ms-grid-row-align: center;
  align-self: center;
}

.profile__info-container {
  width: auto;
  height: 77px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 18px 24px;
  grid-template-columns: 1fr 24px;
  grid-template-areas:
    "name edit"
    "about about";
  grid-column-gap: 18px;
}

.profile__info-avatar {
  width: 120px;
  border-radius: 50%;
}

.profile__info-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
}

.profile__info-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: about;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__info-edit-button {
  height: 24px;
  width: 24px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: edit;
  -ms-grid-row-align: end;
  align-self: end;
  background: url(../images/edit_button.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  margin-bottom: 7px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  -ms-grid-column-align: end;
  justify-self: end;
  background: url(../images/add_button.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.profile__info-edit-button:hover,
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile {
    width: auto;
    -ms-grid-columns: 120px 30px 415px 30px minmax(auto, 285px);
    grid-template-columns: 120px 415px minmax(auto, 285px);
    padding: 40px 20px 50px;
  }
}

@media screen and (max-width: 790px) {
  .profile {
    /* height: 286px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile__info-about {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .profile__add-button {
    width: 390px;
  }
}

@media screen and (max-width: 600px) {
  .profile__info-container {
    height: 50px;
    -ms-grid-columns: 1fr 10px 14px;
    grid-template-columns: 1fr 14px;
    grid-column-gap: 10px;
  }

  .profile__info-name {
    font-size: 22px;
  }

  .profile__info-about {
    font-size: 14px;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .profile__info-edit-button {
    width: 18px;
    margin: 0;
  }

  .profile__add-button {
    width: 282px;
  }
}
