.profile {
    max-width: 880px;
    width: 100%;
    padding: 40px 0 50px;
    display: grid;
    grid-template-columns: 120px 415px 285px;
    grid-gap: 30px;
    grid-template-areas: 
    "avatar info add";
    align-self: center;
}

.profile__info-container {
    width: auto;
    height: 77px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 24px;
    grid-template-areas: 
    "name edit"
    "about about";
    grid-column-gap: 18px;
}

.profile__info-avatar {
    width: 120px;
    border-radius: 50%;
}

.profile__info-name {
    grid-area: name;
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
}

.profile__info-about {
    grid-area: about;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__info-edit-button {
    grid-area: edit;
    align-self: end;
    transition: opacity 0.2s linear;
}

.profile__add-button {
    border: 2px solid white;
    justify-self: end;
    transition: opacity 0.2s linear;
}

.profile__info-edit-button:hover,
.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .profile {
        width: auto;
        grid-template-columns: 120px 415px minmax(auto, 285px);
        padding: 40px 20px 50px;
    }
}

@media screen and (max-width: 790px) {
    .profile {
        /* height: 286px; */
        display: flex;
        flex-direction: column;
    }

    .profile__info-about {
        justify-self: center;
    }

    .profile__add-button {
        width: 390px;
    }
}

@media screen and (max-width: 600px) {
    
    .profile__info-container {
        height: 50px;
        grid-template-columns: 1fr 14px;
        grid-column-gap: 10px;
    }

    .profile__info-name {
        font-size: 22px;
    }
    
    .profile__info-about {
        font-size: 14px;
        justify-self: center;
    }
    
    .profile__info-edit-button {
        width: 18px;
    }
    
    .profile__add-button {
        width: 282px;
    }
}