@import url(../vendor/normalize.css);
@import url(../vendor/font/font.css);
@import url(../blocks/header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }